prodigy

en_core_web_trf>=3.4.0,<3.5.0

spacy>=3.4.0,<3.5.0
kaggle
xxhash
pandas
pandas-stubs
pandera[mypy]
beartype
pyarrow

sentence-transformers

# For Python < 3.10
graphlib-backport

# development
jupyterlab
jupyterlab-prodigy
ipywidgets
jupyterlab-widgets
matplotlib

black
mypy
pyflakes
autoflake
isort

# testing
hypothesis
pytest
