prodigy

en_core_web_trf>=3.4.0,<3.5.0

spacy>=3.4.0,<3.5.0
kaggle
xxhash
pandas
pandas-stubs
pandera[mypy]
beartype

# For Python < 3.10
graphlib-backport

# development
black
mypy
pyflakes
autoflake
isort

# testing
hypothesis
pytest
